.contact__container {
  border: 0;
  outline: 0;
  color: var(--color-white);
  background-color: transparent;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.contact__container.open {
  gap: 0.4rem;
  overflow: visible;
}

.contact__image {
  border-radius: 0.4rem;
}

.contact__link-copied {
  position: relative;
}

.contact__link {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  width: 0;
  height: 0;
  text-transform: lowercase;
  font-size: 14px;
  user-select: none;
}

.contact__container.open .contact__link {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  width: auto;
  height: auto;
  transition: all 0.4s ease;
}

.contact__text {
  font-size: 10px;
  color: gray;
}

.contact__copied {
  position: absolute;
  background-color: mediumslateblue;
  border-radius: 4px;
  opacity: 0;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: auto;
  z-index: -1;
  padding: 0.4rem 0.8rem;
  width: fit-content;
  transition: bottom 1s ease, opacity 1s ease, z-index 1s ease;
}

.contact__copied.show {
  z-index: 1;
  opacity: 1;
  bottom: -40px;
  transition: bottom 1s ease, opacity 1s ease, z-index 1s ease;
}
