.experience-content > *:not(:last-child) {
  margin-bottom: 2rem;
}

.experience-content__container > *:not(:last-child) {
  margin-bottom: 1rem;
}

.experience-content__list {
  list-style: inside;
}

.experience-content__list-link {
  list-style: none;
}

.experience-content__list-link > li:not(:last-child){
  margin-bottom: 0.4rem;
}

@media (768px <= width <= 1023px) {
  #experience {
    width: 90%;
  }
}

@media (1023px <= width) {
  #experience {
    width: 80%;
  }
}
