.section-default-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
}

.footer__text, .footer__text-warn {
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
  
.footer__text {
  font-weight: 400;
}
  
.footer__text-warn {
  text-decoration: underline;
}