#footer {
  margin: 0 2rem;
}

.footer__text, .footer__text-warn {
  text-align: center;
  text-transform: uppercase;
}

.footer__text {
  font-weight: 400;
}

.footer__text-warn {
  font-weight: 600;
  text-decoration: underline;
}
