.section-default-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  justify-content: center;
}

.section-default-config > *:not(:last-child) {
  margin-bottom: 2rem;
}

.home {
  color: #F7F7F7;
  background-image: url("~/public/home-bg.svg");
  background-size: cover;
  background-position: center;
}

.home__info {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home__name {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 100%;
}

.home__role {
  color: #72F587;
  font-size: 24px;
  font-weight: 800;
  line-height: normal;
}

.home__summary {
  font-size: 14px;
  color: #d3d3d3;
  margin: 0 0 0.5rem;
}

.home__know-more {
  color: #d3d3d3;
  font-size: 12px;
  font-family: sans-serif;
}

.home__know-more-text {
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
}
