#home {
  color: var(--color-white);
  margin: 0 2rem;
  align-items: start;
}

.home__name {
  font-size: 20px;
  line-height: 100%;
}

.home__role {
  color: var(--color-green);
  font-size: 22px;
  font-weight: 800;
}

.home__summary {
  font-size: 14px;
  color: var(--color-gray);
}

.home__link {
  color: var(--color-white);
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}
