.section-default-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 2rem;
  justify-content: center;
}

.section-default-config > *:not(:last-child) {
  margin-bottom: 2rem;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.project-container:not([open]) > summary {
  margin-bottom: 0 !important;
}

.project-container[open] summary::after {
  content: attr(data-open);
}

.project-container:not([open]) summary::after {
  content: attr(data-close);
}

.project-container > *:not(:last-child) {
  margin-bottom: 2rem;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.project__filter-btn {
  width: fit-content;
  padding: 1rem;
  background-color: #7F72F5;
  margin: 0 auto;
  color: #F7F7F7;
}

.project__filter-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project__filter-item {
  width: 10rem;
  padding: 1rem 0;
  background-color: #F7F7F7;
  color: #333;
  border: 1px solid #333;
  outline: 0;
}

.project-item {
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.project-item__image {
  height: auto;
  width: 100%;
}

.project-item__image-text {
  position: absolute;
  bottom: 0;
}

.project-item__link {
  padding: 1rem;
  background-color: black;
  color: gray;
}
