.project__filter-container {
  text-align: center;
}

.project__filter-container:not([open]) > summary {
  margin-bottom: 0;
}

.project__filter-container[open] summary::after {
  content: attr(data-open);
}

.project__filter-container:not([open]) summary::after {
  content: attr(data-close);
}

.project__filter-container > *:not(:last-child) {
  margin-bottom: 2rem;
}

.project__btn {
  width: 200px;
  padding: 1rem 0;
  margin: 0 auto;
  background-color: var(--color-green);
  color: var(--color-white);
}

.project__filter-title {
  text-transform: uppercase;
}

.project__filter {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project__filter__item {
  width: 8rem;
  padding: 1rem 0;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 1px ridge var(--color-black);
  outline: 0;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.project-list__item {
  min-width: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.project-list__item__image {
  height: auto;
  width: 100%;
}

.project-list__item__link {
  padding: 1rem;
  background-color: var(--color-black);
  color: var(--color-gray);
}
