:root {
  --color-black: #100C0C;
  --color-white: #F7F7F7;
  --color-gray: #D3D3D3;
  --color-green: #72F587;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
}

main {
  overflow: hidden;
}

a, button, summary {
  cursor: pointer;
  user-select: none;
}

a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}

.home-section {
  background-image: url("~/public/Home/background.svg");
  background-color: var(--color-black);
  background-size: cover;
  background-position: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
  margin: 2rem 1rem;
}

.section-container:nth-child(even) {
  color: var(--color-white);
  background-color: var(--color-black)
}

.section-container:nth-child(odd) {
  color: var(--color-black);
  background-color: var(--color-white);
}

.section-container:nth-of-type(odd) svg > path {
  fill: var(--color-black);
}

.section-container:nth-of-type(even) svg > path {
  fill: var(--color-white);
}
